# Copyright (c) 2026 F. Georget
# SPDX-License-Identifier: Apache-2.0

# Emulation


menuconfig EMULTEMPSENSOR
	bool "Emulated temperature sensor"
	default y
	depends on DT_HAS_ZEPHYR_EMUL_TEMPSENSOR_ENABLED
	help
	  Enable driver for emulated fluxsensor

