# Copyright (c) 2026 Fabien Georget
# SPDX-License-Identifier: Apache-2.0
#
menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Calobus"

menu "Measure"
rsource "src/Kconfig.measure"
endmenu

menu "Threads"
rsource "src/Kconfig.threads"
endmenu

config SDLOGGING
    bool "Enable SDlogging"
    default y
    help
        If true, enable SD logging

endmenu

#rsource "drivers/Kconfig"

