# ADS1115 as sensor configuration options

# Copyright (c) 2026 F. Georget
# SPDX-License-Identifier: Apache-2.0

menuconfig ADS1115SENSOR
	bool "ADS1115 Differential voltage Sensor"
	default y
	depends on DT_HAS_TI_ADS1115SENSOR_ENABLED
	select I2C
    select FLUXSENSOR
	help
	  Enable driver for ADS1115 voltage sensor (custom)

if ADS1115SENSOR

config ADS1115SENSOR_CONTINUOUS
    bool
    default n
    help
      Enables continuous measurement mode

endif # ADS1115SENSOR

