# Copyright (c) 2026 Fabien Georget
# SPDX-License-Identifier: Apache-2.0

config SENSOR_THREAD_PRIORITY
    int "Sensor thread priority"
    default 3
    help
        Priority of the datalogger thread

config PROCESSING_THREAD_PRIORITY
    int "Processing thread priority"
    default 5
    help 
        Priority of the processing thread

config DATALOGGER_THREAD_PRIORITY
    int "Datalogger thread priority"
    default 5
    help
        Priority of the datalogger
